@font-face {
  font-family: 'fieldFont';
    src: url('fonts/field_font.ttf');
    src: format('truetype');
}

@font-face {
  font-family: 'collegeFont';
    src: url('fonts/COLLEGE.TTF');
    src: formate('truetype');
}

body {
  font-family: Arial, sans-serif;
/*  background-color: #06192E;*/
}

h1 {
  font-family: 'fieldFont', Arial;
  text-align: center;
/*  color: #4EAE47;*/
  color: #06192E;
  font-size: 50px;
  margin-bottom: 10px;
}

section img {
  width: 100%;
  max-width: 100%;
  height:100%;
}

section {
  width: 700px;
  overflow: hidden;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

section p {
  margin: 3 auto;
  text-align: center;
  color: #ACB6BC;
  font-family: 'collegeFont', times, serif;
}

.wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 31px;
  margin-top: 5px;
}

.btn {
  width: 60px;
  height: 30px;
  /*display: block;*/
  border-radius: 2px;
  border-style: none;
  cursor: hand;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #4EAE47;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 6px;
  text-decoration: none;
  margin: 8px 8px;
}

.btn:hover {
  background: #ACB6BC;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 900px;
  height: 300px;
  display: block;
  margin: auto;
  background-image: url("field.jpg");
  background-size: 100% 100%;
}

